extends layout

block content
    h5.
        List of Stored Pulls from Source

    each pull, i in model.pulls
        div(class="panel panel-default")
            div(class="panel-heading")
                h3(class="panel-title") #{context.viewHelpers.formatDate(pull.created)} [#{context.underscore.keys(pull.rates).length} rate(s)]
            div(class="panel-body")
                table(class="table table-striped table-bordered table-hover")
                    thead
                        tr
                            th Identifier
                            th Rate
                    tbody
                        each rate, j in pull.rates
                            tr
                                td #{rate.Name}
                                td #{rate.Rate}

    include ./includes/pagination.jade
